@use '../abstracts/variables' as v;

#emulator-container {
  display: flex;
  flex-direction: column;
  align-items: end;
}

#screen-container {
    width: 512px;
    height: 480px;
}

#pause-button {
  margin-top: 6px;
}

#rom-selector-container {
  display: flex;
  flex-direction: column;
}

.tv {
  position: absolute;
}

#screen {
    width: 512px;
    height: 480px;
}

#rom-selector-label {
  font-weight: 700;
  color: rgba(255, 255, 255, 0.55);
}