@use '../abstracts/variables' as v;

.emulator-container {
  height: 550px;
  width: 830px;
  position: relative;
  margin-inline: 25%;
}

input{
  position: relative;
}

#emulator-canvas {
  position: absolute;
  top: 70px;
  left: 87px;
  height: 370px;
  width: 488px;
}

#placeholder{
  @extend #emulator-canvas;
  font-family: v.$nes;
}

.tv {
  position: absolute;
}