@use '../abstracts/variables' as v;

#emulator-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  position: absolute;
  top: 60px;
  left: 72px;
}

#screen-container {
    width: 398px;
    height: 373px;
     
    & > .Screen{
      top: 11px;
      left: 12px;
    }
}

#pause-button {
  margin-top: 120px;
}

#control-pause {
  margin-right: 10px;
}

#control-buttons-container {
  display: flex;
  flex-grow: 1;
  margin-top: 120px;
  width: 100%
}

#rom-selector-container {
  display: flex;
  flex-direction: column;
}

.outer-screen{
  position: relative;

  & img {
    position: relative;
    z-index: 2;
  }

  & canvas {
    position: absolute;
    z-index: 0;
    top: 70px;
    left: 80px;
  }
} 

#screen {
    width: 520px;
    height: 393px;
}

#rom-selector-label {
  font-weight: 700;
  color: rgba(255, 255, 255, 0.55);
}