/* Colors */
$background: #315a7d;

/* Fonts */
$body-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$code: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
$mario: 'super_mario_worldregular', $code;
$nes: 'pretendo', $code;