@use '../abstracts/variables' as v;

body{
  background-color: v.$background;
  font-family: v.$body-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: v.$code
}