/*used for defining typography used on site*/

@font-face {
  font-family: 'super_mario_worldregular';
  src: url('../fonts/super-mario-world-webfont.eot');
  src: url('../fonts/super-mario-world-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/super-mario-world-webfont.woff2') format('woff2'),
       url('../fonts/super-mario-world-webfont.woff') format('woff'),
       url('../fonts/super-mario-world-webfont.ttf') format('truetype'),
       url('../fonts/super-mario-world-webfont.svg#super_mario_worldregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

